#### tuple

In [1]:
t = ("hello",1,20,45,502.25,(1,2))
t[0:2]

('hello', 1)

In [2]:
my_tuple = (1, 2, 3) # []
my_tuple[0]

1

In [4]:
## Immutable
my_tuple = (1, 2, 3)
my_tuple[0]

1

In [5]:
## heterogenious
my_tuple = (1, "Hello", 3.14)
print(my_tuple)

(1, 'Hello', 3.14)

In [6]:
## Indexing and Slicing
my_tuple = (10, 20, 30, 40, 50)
print(my_tuple[2])    
print(my_tuple[1:4])

30
(20, 30, 40)

In [7]:
### packing
my_tuple = 1, 2, 3
print(my_tuple)
my_tuple

(1, 2, 3)

(1, 2, 3)

In [8]:
# Unpacking
a, b, c = my_tuple
print(a)  
print(b)  
print(c)

1
2
3

In [9]:
type(a)

int

In [10]:
# Example 1: Simple tuple creation
person = ("John", 25, "Engineer")
print(person)

('John', 25, 'Engineer')

In [11]:
# Example 2: Accessing tuple elements
coordinates = (10, 20, 30)
x = coordinates[0]
y = coordinates[1]
z = coordinates[2]
print(x, y, z)

10 20 30

In [12]:
l = [[1,2,3,4],[5,6,7,8,[1,2,3,4]]]
 
l[1][4][2]

3

In [13]:
l[0][0][]

SyntaxError: invalid syntax (4019774655.py, line 1)

In [14]:
# Example 3: Nested tuples
nested_tuple = (1, (2, 3), (4, (5, 6)))
nested_tuple[1][0]

2

In [15]:
nested_tuple[2][1][1]

6

In [16]:
print(nested_tuple[2][1][0])

5

In [17]:
### Accessing Elements by Index
my_tuple = ("apple", "banana", "cherry", "date")
first_element = my_tuple[0]
second_element = my_tuple[1]
third_element = my_tuple[2]

In [18]:
print(first_element) 
print(second_element) 
print(third_element)

apple
banana
cherry

In [19]:
## negetive indexing
my_tuple = ("apple", "banana", "cherry", "date")
my_tuple[-1]

'date'

In [20]:
my_tuple[-3:]

('banana', 'cherry', 'date')

In [21]:
last_element = my_tuple[-1]
second_last_element = my_tuple[-2]
print(last_element)     
print(second_last_element)

date
cherry

In [23]:
## slicing
# Creating a tuple
my_tuple = ("apple", "banana", "cherry", "date", "elderberry")
slice_1 = my_tuple[1:3]   
slice_2 = my_tuple[:4]   
slice_3 = my_tuple[2:]

In [24]:
print(slice_1)  
print(slice_2)  
print(slice_3)

('banana', 'cherry')
('apple', 'banana', 'cherry', 'date')
('cherry', 'date', 'elderberry')

In [25]:
# Question 1: Given the tuple `fruits[2] = ("apple", "banana", "cherry", "date", "elderberry")`,
# how would you access the element "cherry"?

fruits = ("apple", "banana", "cherry", "date", "elderberry")
cherry_123 = fruits[2]
print(cherry_123)

cherry

In [26]:
numbers = (10, 20, 30, 40, 50)
first_three = numbers[:3]
print(first_three)

(10, 20, 30)

In [27]:
colors = ("red", "green", "blue", "yellow", "purple")
last_color = colors[-1]
print(last_color)

purple

In [28]:
nested_tuple = (1, (2, 3), (4, (5, 6), 7), 8)
element_five = nested_tuple[2][1][0]
print(element_five)

5

In [29]:
names = ("Alice", "Bob", "Charlie", "Diana", "Eve")
last_three_names = names[-3:]
print(last_three_names)

('Charlie', 'Diana', 'Eve')

### Arithmetic Operations

In [30]:
## addition
# Two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = tuple1 + tuple2
print(result)

(1, 2, 3, 4, 5, 6)

In [31]:
tuple1

(1, 2, 3)

In [32]:
tuple2

(4, 5, 6)

In [33]:
## multiplication
tuple1 = (1, 2, 3)
tuple1 * 5

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [34]:
## membership operator
my_tuple = (10, 20, 30, 40)
10 in my_tuple

True

In [35]:
55 in my_tuple

False

In [36]:
# A tuple
my_tuple = (10, 20, 30, 40)

# Checking if an element is in the tuple
is_present = 20 in my_tuple

print(is_present)

True

In [37]:
## not in operator
my_tuple = (10, 20, 30, 40)
is_not_present = 50 not in my_tuple
print(is_not_present)

True

In [38]:
### for Loop in Tuples
# A tuple containing different elements
my_tuple = ("apple", "banana", "cherry")

# Using a for loop to iterate over the tuple
for fruit in my_tuple:
    print(fruit)

apple
banana
cherry

In [39]:
 ## methods 
## count()
my_tuple = (1, 2, 3, 2, 4, 2, 5)
my_tuple.count(4)

1

In [40]:
my_tuple.count(2)

3

In [41]:
## index()
my_tuple = ('a', 'b', 'c', 'b', 'd')
my_tuple.index("c")

2

In [42]:
index_of_b = my_tuple.index('b')
print(index_of_b)

1

In [43]:
### Python Functions on tuples

## len()
len(my_tuple)

5

In [44]:
my_tuple = (10, 20, 30)
length = len(my_tuple)
print(length)

3

In [46]:
## max()
t = (1,2,45,6,8,8)
max(t)

45

In [47]:
my_tuple = (10, 20, 30)
maximum_value = max(my_tuple)
print(maximum_value)

30

In [48]:
my_tuple = (10, 20, 30)
minimum_value = min(my_tuple)
print(minimum_value)

10

In [49]:
my_tuple = (10, 20, 30)
total = sum(my_tuple)
print(total)

60

In [50]:
### sorted
my_tuple = (30, 10, 20)
sorted_tuple = sorted(my_tuple)
print(sorted_tuple)

[10, 20, 30]

In [51]:
sorted_tuple

[10, 20, 30]

In [52]:
## any()
my_tuple = (0, 0, 0)
result = any(my_tuple)
print(result)

False

In [53]:
## all()
my_tuple = (1, 2, 3)
result = all(my_tuple)
print(result)

True

In [54]:
## zip()
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')
a = zip(tuple1, tuple2)
a

In [55]:
tuple1 = (1, 2)
tuple2 = ('a', 'b', 'c')
zipped = list(zip(tuple1, tuple2))
print(zipped)

[(1, 'a'), (2, 'b')]

In [56]:
## unzipping
b = [(1, 'a'), (2, 'b'), (3, 'c')]
tuple1, tuple2 = zip(*b)
print(tuple1) 
print(tuple2)

(1, 2, 3)
('a', 'b', 'c')

In [57]:
# Question 1: 
# You have a tuple of exam scores for a student. How would you find the highest and lowest scores?

scores = (88, 76, 92, 85, 79)
highest_score = max(scores)
lowest_score = min(scores)
print(highest_score) 
print(lowest_score)

92
76

In [ ]:
# Question 2: 
# You have a tuple of city names. How would you check if the city 'Paris' is in the tuple?

cities = ("New York", "Los Angeles", "Paris", "London", "Tokyo")

# Answer: Use the 'in' membership operator to check if 'Paris' is in the tuple.
is_paris_in_tuple = "Paris" in cities
print(is_paris_in_tuple)  # Output: True