## sets in pyton

##### Sets do not maintain the order of elements.

In [1]:
my_set = {1, 2, 3,3,3,3}
my_set

{1, 2, 3}

In [2]:
l = [1,1,1,1,2,2,2,45,5,6,5]

In [3]:
1

1

In [4]:
my_set = {1, 2, 2,2,2,2,2,2,2, 3, 4,4,4}
my_set

{1, 2, 3, 4}

In [5]:
my_set = {1, 2, 3}
my_set.add(8)
my_set

{1, 2, 3, 8}

In [6]:
my_set.remove(1)
my_set

{2, 3, 8}

In [7]:
my_set.remove(2)     
print(my_set)

{8, 3}

In [8]:
## no indexing

my_set = {1, 2, 3}
for item in my_set:
    print(item)

1
2
3

### Set Methods in Python

##  add()

In [9]:
my_set = {1, 2, 3}
my_set.add(555)
my_set

{1, 2, 3, 555}

In [10]:
my_set.add(1)
print(my_set)

{1, 2, 3, 555}

## update()

In [11]:
my_set = {1, 2, 3}
my_set.update([20,55,88,99])
my_set.update([4, 5])
my_set

{1, 2, 3, 4, 5, 20, 55, 88, 99}

In [12]:
my_set.update((1,2,5,87))
my_set

{1, 2, 3, 4, 5, 20, 55, 87, 88, 99}

In [13]:
### remove()
my_set = {1, 2, 3}
my_set.remove(1)
my_set

{2, 3}

In [14]:
## discard()
my_set = {1, 2, 3}
my_set.discard(20)
my_set

{1, 2, 3}

In [15]:
my_set.discard(4)  
print(my_set)

{1, 2, 3}

In [16]:
## pop()
element = my_set.pop()
element

1

In [17]:
## union()
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.union(set2)

{1, 2, 3, 4, 5}

In [18]:
set1.union(set2)

{1, 2, 3, 4, 5}

In [19]:
### intersection

set1 = {1, 2, 3}
set2 = {2, 3, 4}
set1.intersection(set2)

{2, 3}

In [20]:
result = set1.intersection(set2)
print(result)

{2, 3}

In [21]:
## difference
set1 = {1, 2, 3,5}
set2 = {2, 3, 4}
set1.difference(set2)

{1, 5}

In [22]:
set2.difference(set1)

{4}

In [23]:
result = set1.difference(set2)
print(result)

{1, 5}

In [25]:
## symmetric_difference
set1 = {1, 2, 3}
set2 = {2, 3, 4}
result = set1.symmetric_difference(set2)
print(result)
set2.symmetric_difference(set1)

{1, 4}

{1, 4}

#### Python Functions on set

In [26]:
my_set.add(0)
len(my_set)

3

In [27]:
## sorted
a = (20,58,45,68)
sorted(a)

[20, 45, 58, 68]

In [28]:
## enumerate
my_set = {3, 1, 4, 2}
sorted(my_set)

[1, 2, 3, 4]

In [29]:
my_set = {3, 1, 4, 2}
for index, value in enumerate(sorted(my_set)):
    print(index, value)

0 1
1 2
2 3
3 4

In [30]:
a = [1,2,3,5,40,60,88,79]
for index, value in enumerate(a):
    print(index, value)

0 1
1 2
2 3
3 5
4 40
5 60
6 88
7 79

In [31]:
for i,j in enumerate(a):
    print(i,j)

0 1
1 2
2 3
3 5
4 40
5 60
6 88
7 79

## set()

#### Converts an iterable to a set, removing duplicates.

In [32]:
s3 = {1,'hello',4.5,(1,2,3)}
print(s3)

{'hello', 1, (1, 2, 3), 4.5}

In [33]:
s4 = set([1,2,3])
print(s4)

{1, 2, 3}

In [34]:
s1 = {1,2,3}
s2 = {3,2,1}

print(s1 == s2)

True

In [35]:
# Union(|)
s11 = {1,2,3,4,5}
s21 = {4,5,6,7,8}
s11 | s21

{1, 2, 3, 4, 5, 6, 7, 8}

In [36]:
# Intersection(&)
s11 & s21

{4, 5}

In [37]:
# Difference(-)
s11 - s21

{1, 2, 3}

## set comprehensions

In [38]:
numbers = [1, 2, 3, 4, 5]
squares_set = {x**2 for x in numbers}
print(squares_set)

{1, 4, 9, 16, 25}

In [39]:
numbers = [1, 2, 3, 4, 5]
even_squares_set = {x**2 for x in numbers if x % 2 == 0}
print(even_squares_set)

{16, 4}

In [40]:
# Question 1: 
# You have two sets of students enrolled in different courses. 
# Set A contains students enrolled in Python, and Set B contains students enrolled in Data Science.
# How would you find the students who are enrolled in both courses?

set_A = {"Alice", "Bob", "Charlie", "David"}
set_B = {"Charlie", "David", "Eve", "Frank"}
common_students = set_A.intersection(set_B)
print(common_students)

{'Charlie', 'David'}

In [41]:
# Question 2: 
# You have a set of employees who have completed a training. 
# How would you add a new employee to this set if they have completed the training today?

completed_training = {"John", "Jane", "Emily"}
completed_training.add("Michael")
print(completed_training)

{'Michael', 'Jane', 'John', 'Emily'}

In [42]:
# Question 3: 
# You have a set of all fruits available in your store and
# another set of fruits that are out of stock. 
# How would you find the fruits that are still in stock

all_fruits = {"apple", "banana", "cherry", "date", "fig"}
out_of_stock = {"banana", "date"}
in_stock = all_fruits.difference(out_of_stock)
print(in_stock)

{'cherry', 'apple', 'fig'}

In [ ]:
# Question 5: 
# How would you combine two sets of attendees 
#  from two different events into a single set of unique attendees?

event1_attendees = {"Alice", "Bob", "Charlie"}
event2_attendees = {"Charlie", "David", "Eve"}
all_attendees = event1_attendees.union(event2_attendees)
print(all_attendees)