#### dictionary

In [3]:
s==""
1=[1,2,3,4]
1=()
dict={"ROW_ID":1,"order_ID":

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (4216761932.py, line 2)

In [7]:
# characteristics
# 1. unordered
my_dict={'name':'alice','age':20,'city':'new york'}
my_dict

{'name': 'alice', 'age': 20, 'city': 'new york'}

In [8]:
# 2. mutable(the dictionary can be modified after creation)
my_dict['name']='pooja gowda'
my_dict

{'name': 'pooja gowda', 'age': 20, 'city': 'new york'}

In [9]:
my_dict['age']=21
my_dict

{'name': 'pooja gowda', 'age': 21, 'city': 'new york'}

In [10]:
#  3. unique keys
my_dict={'name':'alice','age':67,'age':65,'age':89}
my_dict

{'name': 'alice', 'age': 89}

In [11]:
# 4. immutable keys(keys must be immutable types such as strings, numbers or tuples)
my_dict={(1,2):"point",'name':"alice"}
print(my_dict)

{(1, 2): 'point', 'name': 'alice'}

In [12]:

# 5.dynamic
del my_dict['name']
my_dict

{(1, 2): 'point'}

##### keys and values in a python dictionary

In [ ]:
1. keys in dictionary
uniqueness
immutable

In [ ]:
2. values in a dictionary
no uniqueness constraint
mutable or immutable

In [14]:
## accessing dct elements

#  1. accessing a value by key 
dict1={
    'name':'alice',
    "age":25,
    'hobbies':['reading','hiking'],
    'education':{'degree':'bca','year':2015}
}

In [15]:
dict1['education']['year']

2015

In [16]:
dict1['age']

25

In [17]:
dict1['hobbies'][1]

'hiking'

In [18]:
dict1['hobbies']

['reading', 'hiking']

In [19]:
# 2. using get() method
dict1={
    'name':'alice',
    "age":25
}
dict1['age']

25

In [20]:
dict1.get('name')

'alice'

In [22]:
print(dict1.get('city'))

None

In [23]:
# 3. accessing all keys
dict1={
    'name':'alice',
    "age":25
}
dict1.keys()

dict_keys(['name', 'age'])

In [24]:
# 4. accessing all values
dict1={
    'name':'alice',
    "age":25
}
dict1.values()

dict_values(['alice', 25])

In [25]:
# 5. aceessing all key-value pairs
dict1={
    'name':'alice',
    "age":25
}
dict1.items()

dict_items([('name', 'alice'), ('age', 25)])

In [26]:
# 6. iterating over keys n values
dict1={'name':'alice',"age":25,'city':'new york'}
for i in dict1:
    print(i)

name
age
city

In [27]:
for i in dict1.values():
    print(i)

alice
25
new york

In [28]:
for i in dict1.items():
    print(i)

('name', 'alice')
('age', 25)
('city', 'new york')

In [29]:
for i,j in dict1.items():
    print(f'{i}: {j}')

name: alice
age: 25
city: new york

In [35]:
#  nested dictinary in python
nested_dict={
    'person1':{
        'name':'alice',
        'age':20,
        'city':'new york'
    },
    'person2':{
        'name':'bob',
        'age':21,
        'city':'delhi'
    }
}
nested_dict

{'person1': {'name': 'alice', 'age': 20, 'city': 'new york'},
 'person2': {'name': 'bob', 'age': 21, 'city': 'delhi'}}

In [36]:
# accessing nested dictionary
nested_dict['person2']
nested_dict['person1']
nested_dict['person1']['city']
nested_dict['person2']['name']

'bob'

In [37]:
nested_dict['person2']
nested_dict['person1']

{'name': 'alice', 'age': 20, 'city': 'new york'}

In [38]:
nested_dict['person1']['city']

'new york'

In [39]:
# modifying elements in a nested dictionary
nested_dict['person1']['name']='pooja gowda'
nested_dict

{'person1': {'name': 'pooja gowda', 'age': 20, 'city': 'new york'},
 'person2': {'name': 'bob', 'age': 21, 'city': 'delhi'}}

In [40]:
#  adding a new dictionary to a nested dictionary
nested_dict['person3']={
    'name':'diana',
    'age':26,
    'city':'boston'
}
nested_dict

{'person1': {'name': 'pooja gowda', 'age': 20, 'city': 'new york'},
 'person2': {'name': 'bob', 'age': 21, 'city': 'delhi'},
 'person3': {'name': 'diana', 'age': 26, 'city': 'boston'}}

In [41]:
nested_dict['person4']='yogi'
nested_dict

{'person1': {'name': 'pooja gowda', 'age': 20, 'city': 'new york'},
 'person2': {'name': 'bob', 'age': 21, 'city': 'delhi'},
 'person3': {'name': 'diana', 'age': 26, 'city': 'boston'},
 'person4': 'yogi'}

In [ ]:
# removing 
del
pop
popitem()

In [45]:
# 1.using del
my_dict={'name':'alice',"age":25,'city':'new york','profession':'engineer'}
del my_dict['age']
my_dict

{'name': 'alice', 'city': 'new york', 'profession': 'engineer'}

In [46]:
# 2. using pop() method
my_dict.pop('profession')
'engineer'
my_dict

{'name': 'alice', 'city': 'new york'}

In [47]:
# 3. using pop item()method= removes the last key-value pair from the dictionary
my_dict.popitem()

('city', 'new york')

In [48]:
my_dict.popitem()

('name', 'alice')

In [ ]:
# membership operator
in opearator
not in opearator

In [49]:
# 1. in opearator
my_dict={'name':'alice',"age":25,'city':'new york','profession':'engineer'}
25 in my_dict

False