### functions

 ##### function is a user defined function is a block of code that performs a specific task and is created by the user

In [ ]:
syntax, as 

def function_name():

    # function body
    # code to execute

In [1]:
# example
def add_two():
    a=13
    b=6
    c=a+b
    print(c)
add_two()

19

In [2]:
def greet():
    name=input('enter your name:')
    print(f'hello {name} welcome to the party')

greet()

enter your name: pooja gowda

hello pooja gowda welcome to the party

### function calling

In [3]:
def sub():
    x=20
    y=15
    c=x-y
    print(c)

sub()

5

In [4]:
def calculator():
    num1=int(input('enter 1st number:'))
    num2=int(input('enter 2st number:'))
    add=num1+num2
    sub=num1-num2
    product=num1*num2
    division=num1/num2
    user=input('enter the operation (+,-,*,/): ')
    if user=='+':
        print(add)
    elif user=='-':
        print(sub)
    elif user=='/':
        print(division)
    elif user=='*':
        print(product)
    else:
        print('enter valid operation')

calculator()

enter 1st number: 37
enter 2st number: 77
enter the operation (+,-,*,/):  +

114

In [7]:
 def mul_table():
    num=int(input('enter multiplication table: '))
    for i in range(1,11):
        print(f'{num} x {i} = {num*i} ')

mul_table()

enter multiplication table:  46

46 x 1 = 46
46 x 2 = 92
46 x 3 = 138
46 x 4 = 184
46 x 5 = 230
46 x 6 = 276
46 x 7 = 322
46 x 8 = 368
46 x 9 = 414
46 x 10 = 460

In [8]:
def mul_table(num):
    # num=int(input('enter multiplication table: '))
    for i in range(1,11):
        print(f'{num} x {i} = {num*i} ')

mul_table(7)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
parameters
arguments

syntax

def func_name(par1,par2): // parameters - are the placeholders
    # function body


func_name(arg1,arg2)    // argumants - actual values passed to the function when it is called

In [16]:
def greet(name):   # name is  a formal parameters
   print(f'hello, {name}!')
greet('alice')     # alice is an  actual parameters

hello, alice!

In [ ]:
return statements in python
key points
exiting function
returning a value
multiple retrurns
return without a value

In [17]:
def func():
    a=67
    b=63
    return a+b

func()

130

In [18]:
#  basic use of return

def func():
    a=67
    b=63
    c=a+b
    return c

func()

130

In [ ]:
methods that return something

data type              method             description
list
dictionary
set

In [19]:
# returning multiple values
# early exit with return
def check_even(num):
    if num%2==0:
        return "even"

    return "odd"

check_even(5)

'odd'

In [20]:
# collections
def create_list():
    return [1,2,3,4]

my_list=create_list()
print(my_list)

[1, 2, 3, 4]

In [21]:
def create_list(list):
    return list

my_list=create_list([1,2,3,4,5,6])
print(my_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
types of arguments
default argument