### for loop

In [1]:
a = [1,2,3,4,5,6]
a[2]

3

In [2]:
b = "hello"
b[3]

'l'

In [3]:
a = [1,2,3,4,5,6]
for i in a:
    print(i)

1
2
3
4
5
6

## Sequence?

In [7]:
 #Iterating Over a List
# A list of fruits
fruits = ['apple', 'banana', 'cherry']

# Using a for loop to iterate over the list
for fruit in fruits:
  print(fruit)

apple
banana
cherry

In [2]:
#list using for loop
#ex-1

fruites = ['apple', 'banana', 'orange', 'cherry']
for fruite in fruites:
    print(fruites)

['apple', 'banana', 'orange', 'cherry']
['apple', 'banana', 'orange', 'cherry']
['apple', 'banana', 'orange', 'cherry']
['apple', 'banana', 'orange', 'cherry']

In [9]:
#  iterating over A string
word = "hello"
# Using a for loop to iterate over the string
for letter in word:
    print(letter)

h
e
l
l
o

In [3]:
#ex-2
word = "hello"
for letter in word:
    print(letter)

h
e
l
l
o

In [4]:
#ex=3
for i in range(1,10,3):
   print(i)

1
4
7

In [5]:
#ex-4
for i in fruites:
     print(i)
else:
     print("loop is finished")

apple
banana
orange
cherry
loop is finished

In [6]:
#ex-5
for i in a:
     print(i)
else:
     print("loop is finished")

1
2
3
4
5
6
7
8
9
loop is finished

In [7]:
## Using range() with a for Loop

for i in range(6):
 for j in range(1):
    print(f"i={i},j={j}")

i=0,j=0
i=1,j=0
i=2,j=0
i=3,j=0
i=4,j=0
i=5,j=0

In [10]:
##Looping with else

for i in range(3):
    print(i)
else:
    print("Loop is finished!")

0
1
2
Loop is finished!

In [11]:
# Nested for loop to iterate over two sequences
for i in range(3):
    for j in range(2):
        print(f"i={i}, j={j}")

i=0, j=0
i=0, j=1
i=1, j=0
i=1, j=1
i=2, j=0
i=2, j=1

In [12]:
for i in range(3):
    print("This is outer loop")
    for j in range(3):
        print("This is inner loop")

This is outer loop
This is inner loop
This is inner loop
This is inner loop
This is outer loop
This is inner loop
This is inner loop
This is inner loop
This is outer loop
This is inner loop
This is inner loop
This is inner loop

In [13]:
for i in range(3):
    print(i)
    print("This is will be 1st")
    print("This is second")
    print("This is third")

0
This is will be 1st
This is second
This is third
1
This is will be 1st
This is second
This is third
2
This is will be 1st
This is second
This is third

In [15]:
# Define a list of numbers
numbers = [1, 3, 5, 7, 9]

# Iterate through the list and multiply each item by 2
for num in numbers:
    print(num)
    print("hello World")
    print("this is awsome")

1
hello World
this is awsome
3
hello World
this is awsome
5
hello World
this is awsome
7
hello World
this is awsome
9
hello World
this is awsome

In [16]:
st = "Hello World."
for i in st:
    print(i, end="")

Hello World.

In [17]:
# using loop with range
for i in range(1,10,3):
    print(i)                    #look at the iteration

1
4
7

In [18]:
a = range(1,10,2)
print(a[0])
print(a[1])
print(a[2])

1
3
5

In [19]:
for i in range(1,5):         
    print(i)

1
2
3
4

In [20]:
for i in range(1,5):        
    print(i)

1
2
3
4

In [21]:
## For loop with index
a = [1,2,3,4]
a[0]

1

In [22]:
st = "Hello"
n = len(st)
for i in range(n):
    print(i, "=",st[i])

0 = H
1 = e
2 = l
3 = l
4 = o

In [23]:
st = "Hello"              
n = len(st)                
for i in range(n):         
	print(i, "=", st[i])

print("Rest of the Code")

0 = H
1 = e
2 = l
3 = l
4 = o
Rest of the Code

In [24]:
# For Loop with Else
st = "hello"
for ch in st:
	print(ch)
else:                             
	print("Else Part Executed")

h
e
l
l
o
Else Part Executed

In [25]:
for i in range(4):               #first outer loop will run only once  and it will go inside the inner loop finishes all the
		print("Outer Loop", i)     #iteration of inner loop then goes back to outer loop then run once and again goes inside
		for j in range(5):        #of inner loop and runs all the iteration son on and so forth
			print("Inner Loop", j)

Outer Loop 0
Inner Loop 0
Inner Loop 1
Inner Loop 2
Inner Loop 3
Inner Loop 4
Outer Loop 1
Inner Loop 0
Inner Loop 1
Inner Loop 2
Inner Loop 3
Inner Loop 4
Outer Loop 2
Inner Loop 0
Inner Loop 1
Inner Loop 2
Inner Loop 3
Inner Loop 4
Outer Loop 3
Inner Loop 0
Inner Loop 1
Inner Loop 2
Inner Loop 3
Inner Loop 4

In [26]:
for i in range(4):               #first outer loop will run only once  and it will go inside the inner loop finishes all the
		print("Outer Loop", i)     #iteration of inner loop then goes back to outer loop then run once and again goes inside
		for j in range(5):        #of inner loop and runs all the iteration son on and so forth
			print("Inner Loop", j)
print("Rest of the Code")

Outer Loop 0
Inner Loop 0
Inner Loop 1
Inner Loop 2
Inner Loop 3
Inner Loop 4
Outer Loop 1
Inner Loop 0
Inner Loop 1
Inner Loop 2
Inner Loop 3
Inner Loop 4
Outer Loop 2
Inner Loop 0
Inner Loop 1
Inner Loop 2
Inner Loop 3
Inner Loop 4
Outer Loop 3
Inner Loop 0
Inner Loop 1
Inner Loop 2
Inner Loop 3
Inner Loop 4
Rest of the Code

### break

In [14]:
#break statemennts
for number in range(10):
 if number == 5:
   break
 print(number)

0
1
2
3
4

In [27]:
# Example of break in a for loop
for number in range(10):
    if number == 5:
        break     # Exit the loop when number equals 5
    print(number)

0
1
2
3
4

## continue

In [35]:
#continue statements
for number in range(5):
 if number == 3:
    continue
 print(number)

0
1
2
4

In [31]:
for number in range(5):
    if number == 2:
        continue  
    print(number)

0
1
3
4