## list

In [2]:
#list is a order of elements in a list is preserved, meaning elements

a = " aslkjfhasjhf"
l = [123,"eja",20.25,[1,2,3,4,5]]

In [3]:
ordered_list = ["first", "second", "third"]
ordered_list

['first', 'second', 'third']

In [4]:
type(ordered_list)

list

In [5]:
mutable_list = [1, 2, 3]
mutable_list[1]

2

In [6]:
mutable_list[1] = 30 
mutable_list

[1, 30, 3]

In [7]:
heterogeneous_list = [42, "hello", 3.14, [1, 2, 3] ,1]
heterogeneous_list

[42, 'hello', 3.14, [1, 2, 3], 1]

In [9]:
heterogeneous_list[3][1]

2

In [10]:
## indexable
a = 20
b = [a,12]
b[0]

20

In [11]:
s = "hello"
l = [1,2,3,5]
d = [s,l]
d[0][1:2]

'e'

In [12]:
comprehensive_list = [100, "python", 7.5, False, ["nested", "list"]]
comprehensive_list

[100, 'python', 7.5, False, ['nested', 'list']]

In [13]:
comprehensive_list[0]
comprehensive_list[-1]

['nested', 'list']

In [14]:
# Ordered
print(comprehensive_list[0])  # 100
print(comprehensive_list[-1])  # ['nested', 'list']

100
['nested', 'list']

In [15]:
# Mutable
comprehensive_list[1] = "coding"
print(comprehensive_list)  # [100, 'coding', 7.5, False, ['nested', 'list']]

[100, 'coding', 7.5, False, ['nested', 'list']]

In [16]:
# Indexable
print(comprehensive_list[2])  # 7.5

7.5

In [1]:
## array

import array
# Creating an array of integers
numbers = array.array('i', [1, 2, 3, 4, 5])
numbers

array('i', [1, 2, 3, 4, 5])

In [5]:
my_list = [1, "hello", 3.14, True]

In [7]:
import array
my_array = array.array('i', [1, 2, 3, 4]) 
my_array

array('i', [1, 2, 3, 4])

In [8]:
### indexing a list
fruits = ["apple", "banana", "cherry", "date", "elderberry"]
print(fruits[0])  
print(fruits[2])

apple
cherry

In [9]:
print(fruits[-1])  
print(fruits[-3])

elderberry
cherry

In [13]:
## slicing a list
# Creating a list
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
                              -5  -4   -3   -2    -1

IndentationError: unexpected indent (728969465.py, line 4)

In [14]:
numbers

array('i', [1, 2, 3, 4, 5])

In [15]:
numbers[2:5] 
numbers[-5:-2]

array('i', [1, 2, 3])

In [16]:
numbers[1:8:3]

array('i', [2, 5])

In [17]:
numbers[:]

array('i', [1, 2, 3, 4, 5])

In [20]:
universities = ["Harvard", "MIT", "Stanford", "Cambridge", "Oxford", "Caltech", "Imperial", "UChicago", "ETH Zurich", "UCL"]
top_3 = universities[:3]
print(top_3)

['Harvard', 'MIT', 'Stanford']

In [21]:
cars = ["Tesla", "BMW", "Mercedes", "Audi", "Toyota", "Honda", "Ford"]
last_two_cars = cars[-2:]
print(last_two_cars)

['Honda', 'Ford']

In [22]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
reversed_numbers = numbers[::-1]
print(reversed_numbers)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [23]:
days = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
days[1:3] = ["Tues", "Weds"]
print(days)

['Mon', 'Tues', 'Weds', 'Thu', 'Fri', 'Sat', 'Sun']

In [24]:
alphabets = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
sublist = alphabets[2:9:2]
print(sublist)

['c', 'e', 'g', 'i']

### editing items in list

In [25]:
## chaing indivudual element
fruits = ["apple", "banana", "cherry", "date"]
fruits[1] = "blueberry"
fruits

['apple', 'blueberry', 'cherry', 'date']

In [26]:
## replacing range of elements
colors = ["red", "green", "blue", "yellow", "purple"]
colors

['red', 'green', 'blue', 'yellow', 'purple']

In [27]:
colors[1:3] = ["cyan", "magenta"]
colors

['red', 'cyan', 'magenta', 'yellow', 'purple']

In [28]:
## Modifying Multiple Elements at Once
numbers = [10, 20, 30, 40, 50]
numbers[0] = 15
numbers[-1] = 55
numbers

[15, 20, 30, 40, 55]

In [29]:
###  Inserting Elements While Replacing
animals = ["cat", "dog", "elephant"]
animals[1:2] = ["hamster", "rabbit"]
animals

['cat', 'hamster', 'rabbit', 'elephant']

In [30]:
### animals[1:2] = ["hamster", "rabbit"]

vegetables = ["carrot", "potato", "tomato", "pepper"]
vegetables[1:3] = ["lettuce"]
vegetables

['carrot', 'lettuce', 'pepper']

In [31]:
### deleting
cities = ["New York", "Los Angeles", "Chicago", "Houston", "Phoenix"]
del cities[2]
cities

['New York', 'Los Angeles', 'Houston', 'Phoenix']

## Arithmetic Operators on Lists

In [32]:
### addition
list1 = [1, 2, 3]
list2 = [4, 5, 6]
result = list1 + list2
result

[1, 2, 3, 4, 5, 6]

In [33]:
###  List Multiplication

list1 = [1, 2, 3]
result = list1 * 4
result

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [34]:
### in operator

my_list = ['apple', 'banana', 'cherry']
'banana' in my_list

True

In [35]:
##### not in operator

my_list = ['apple', 'banana', 'cherry']
result = 'orange' not in my_list
print(result)

True

In [36]:
# Defining a list of fruits
fruits = ['apple', 'banana', 'cherry', 'date']

# Check if 'apple' is in the list
if 'apple' in fruits:
    print("Apple is available.")

Apple is available.

In [37]:
if 'grape' not in fruits:
    print("Grape is not available.")

Grape is not available.

In [38]:
## for loop
my_list = ['apple', 'banana', 'cherry']
for fruit in my_list:
    print(fruit)

apple
banana
cherry

In [39]:
## while loop
my_list = ['apple', 'banana', 'cherry']
len(my_list)

3

In [40]:
fruits = ["apple", "banana", "cherry", "date"]
i = 0

while i < len(fruits):
    print(fruits[i])
    i += 1

apple
banana
cherry
date

In [42]:
numbers = [1, 2, 3, 4, 5]

# Using a for loop to calculate the sum of all elements in the list
total_sum = 0
for number in numbers:
    total_sum =total_sum + number

print("Total sum:", total_sum)

Total sum: 15

In [43]:
##Nested Loops with Lists
# Defining a list of lists (2D list)
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]]
# Using nested for loops to iterate over a 2D list
for row in matrix:
    for element in row:
        print(element, end=" ")
    print()  # Newline after each row

1 2 3
4 5 6
7 8 9

In [45]:
l = [1,2,3,5]
l = [1,2,3,4,5,6,7]
l2 = [[1,2,3,4,5],
      [6,7,8,9,10],
      [11,12,13,14,15]
     ]

In [46]:
 12

12

In [47]:
l = [1,2,3,4,5,6,7]
for i in l:
    print(i)

1
2
3
4
5
6
7

In [48]:
l1 = [[1,2,3,4],
      [5,6,7,8],
      [9,10,11,12]
     ]
for i in l1:
    print(i)
    print(11)

[1, 2, 3, 4]
11
[5, 6, 7, 8]
11
[9, 10, 11, 12]
11