# operators in python

## arthemetic operator

# addition (+)

In [1]:
30+24

54

In [2]:
num = 10+57
print(num)

67

In [5]:
a = 35
b = 600

In [6]:
a+b

635

In [8]:
result = 69+58
print(result)

127

# substraction(-)

In [9]:
a = 90
b = 79
a-b

11

In [10]:
result1 = 1648-6789
print(result1)

-5141

# multiplication(*)

In [11]:
result1 = 1648*6789
print(result1)

11188272

## division(/)

In [12]:
result4 = 16 / 3  
result4

5.333333333333333

In [13]:
16//3

5

## floor division(//)

In [14]:
result5 = 56//7
result5

8

In [15]:
3//0

ZeroDivisionError: integer division or modulo by zero

## Modulus (%):

In [17]:

result = 10 % 3

In [18]:
result

1

In [19]:
10/3

3.3333333333333335

## Exponentiation (**):

In [22]:
result7 = 2 ** 5
result7

32

In [23]:
3**3

27

In [24]:
2**2

4

## Combining Arithmetic Operators:

In [25]:
result = 5 + 3 * 2 - 8 / 4 
result

9.0

In [26]:
#exams: 85, 90, 78, 92, and 88. What is your average score?


(85+90+78+92+88)/5

86.6

In [29]:
scores = [85, 90, 78, 92, 88]
total_score = sum(scores)
total_score

433

In [30]:
len(scores)

5

In [31]:
budget = 1200

# Expenses
groceries = 350
utilities = 150
transportation = 200

# Remaining budget calculation
remaining_budget = budget - (groceries + utilities + transportation)

print("Remaining budget:", remaining_budget)

Remaining budget: 500

In [32]:
# A store offers a 20% discount on a product that costs $75. 

original_price = 75

# Discount percentage
discount_percentage = 20

# Calculate discount amount
discount_amount = original_price * (discount_percentage / 100)

# Calculate final price
final_price = original_price - discount_amount

print("Final price after discount:", final_price)

Final price after discount: 60.0

In [33]:
#You have a rectangular garden that is 10 meters wide and 15 meters long. What is the area of the garden?


# Dimensions of the garden
width = 10
length = 15

# Calculate area
area = width * length

print("Area of the garden:", area)

Area of the garden: 150

In [34]:
#Two friends, Alice and Bob, are 25 and 30 years old, respectively. What is the age difference between them?

alice_age = 25
bob_age = 30

# Calculate age difference
age_difference = bob_age - alice_age

print("Age difference:", age_difference)

Age difference: 5

In [36]:
#You purchase 3 items costing $12.50, $15.75, and $9.00 each. What is the total cost of all items before tax?

# Costs of individual items
item1 = 12.50
item2 = 15.75
item3 = 9.00

# Calculate total cost
total_cost = item1 + item2 + item3

print("Total cost of all items:", total_cost)

Total cost of all items: 37.25

## relational operator

## Assignment operator (=)

In [8]:
a = 10
a = a+10

In [9]:
a

20

In [10]:
a = 10 +10

In [11]:
a

20

### Comparision opretor(==)

In [12]:
a = 10
b= 20
print(a==b)       # equals to

False

In [13]:
print(a==b)      # lesser than

True

In [14]:
print(a>=b)     # greater than

False

In [15]:
print(a!=b)     #not equal to

True

### logical operator

In [18]:
 true = 1
false = 0

10> 20
false           

20>10
true

1

In [19]:
10> 20

False

In [72]:
 numbers = 20> 10 and 30 >10
print(numbers)

True

In [73]:
numbers = 2< 5 or 30 <10
print(numbers)

True

In [76]:
numbers = (not(2>5))
print(numbers)

True

### types of logical operator

### **AND operator**

In [22]:
print(true and true)              # and operator

1

In [23]:
print(true and false)

0

In [24]:
print(true or false)             # or oprator

1

In [26]:
print(not(true))
                                  #not operator
print(not(false))

False
True

In [27]:
print (2>5 and 5>1)

False

In [28]:
result = (a > 3) and (b < 15)  # True because both conditions are true
print(result)                  # Output: True

False

In [ ]:
1 + 1 = 1
1+ 0 = 1
0+1 = 1
0+0 = 0

In [29]:
a = 5
b = 10
result = (a > 2) or (b < 1)  # True because the second condition is true
print(result)                # Output: True

True

In [30]:
a = 5
result = not (a > 7)  # True because the condition (a > 7) is False, and `not` inverts it
print(result)          # Output: True

True

## use cases

In [31]:
age = 18
citizen = True

In [32]:
if age >= 18 and citizen:
    print("Eligible to vote")
else:
    print("Not eligible to vote")

Eligible to vote

In [34]:
if age <= 17 and citizen:
    print("Eligible to vote")
else:
    print("Not eligible to vote")

Not eligible to vote

In [35]:
temperature = 30
is_raining = False

# Check if you should carry an umbrella (either if it's cold or if it's raining)
if temperature < 20 or is_raining:
    print("Carry an umbrella")
else:
    print("No need for an umbrella")

No need for an umbrella

In [37]:
age = 20
has_license = True
is_sober = True

# Check if a person can legally drive (must be 18 or older, have a license, and be sober)
if age >= 18 and has_license and is_sober:
    print("Can legally drive")
else:
    print("Cannot legally drive")

Can legally drive

In [38]:
is_weekend = False

# Check if it's a weekday (i.e., not the weekend)
if not is_weekend:
    print("It's a weekday")
else:
    print("It's the weekend")

It's a weekday

### membership operator

In [42]:
first_name = "pooja"
last_name = "gowda"
print(("j" in first_name))

True

first_name = "pooja"
last_name = "gowda"
print(("o" in first_name) and("o" in last_name))

In [44]:
first_name = "pooja"
last_name = "gowda"
print(("p" in first_name)or ("p" in last_name))

True

### using in a list

In [55]:
fruits = ["apple", "banana", "cherry"]
print("grape" not in fruits)

True

In [56]:
Player= ['Rohit sharma', 'Virat', 'Dhoni', 'Siraj']

print('Siraj' in Player)

True

### uing  not in a string

In [57]:
message = "Welcome to Python programming!"
print("Python" in message)

True

In [58]:
print("Programming" in message)

False

## using a ( in ) in dictionary

In [59]:
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
print("name" in my_dict)

True

## using a (not in ) in dictionary

In [62]:
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
print("name" not in my_dict)

False

In [70]:
a =[1,47,57,48,59,79,79,6,0,5,0]
print(100  in a)

False

In [69]:
print( 0 in a)

True

In [71]:
print( 57 in a)

True

### bitwise operator

In [49]:
a = 5            # Binary: 0101
b = 3            # Binary: 0011
result = a & b # Binary: 0001, which is 1 in decimal
print(result)  # Output: 1

15

In [53]:

result = a | b  
print(result)

7